@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: white;
  margin: 0;
  font-size: 16px;
  // overflow: overlay;
  width: 100vw;
  overflow-x: hidden;
}

.disabled-scrolling {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: lightgrey;
}

// body::-webkit-scrollbar-track {
// }

body::-webkit-scrollbar-thumb {
  background-color: $color-primary;
}

p:last-child {
  margin-bottom: 0;
}
